<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <nav>
        <a href="#">Car Seller</a>
        <a href="/sell/0">Buy/Sell</a>
        <a href="/logout">Logout</a>
    </nav>
    <form style="display: none;" id="imageFrm" action="/profileUpload" method="post" enctype="multipart/form-data">
    <input id="frm" type="file" name="images">
    </form>

    <div id="container">
        <div id="dets">
            <div id="image">
                
                <img src=<%=profileImg%> alt="img">
                <div id="cover"> </div>
                
            </div>
            <div id="txt">
                <h2><%=name%></h2>
                <button id="btn">change image</button>
            </div>
        </div>
        <div id="form">
            <h2>Make new car selling listing.</h2>
            <form action="/addcar" method="POST" enctype="multipart/form-data">
                <input type="text" placeholder="car's price" name="carprice">
                <input type="text" placeholder="car's name" name="carname">
                <input type="tel" placeholder="contact" name="contact">
                <input type="file" name="carImg">
                <input type="submit">
            </form>
        </div>
        <div id="posts">
            <h3>Your Previous Entries</h3>
            <%if(Cars.length < 1){ %>
                <h5>No Car For Sell</h5>
            <%} else{%>
                <%Cars.reverse().forEach((car)=>{ %>
                    <div class="post">
                        <img src=<%=car.carimg%> alt="some image">
                        <h3>Car Name: <%=car.carname%></h3>
                        <h3>Car Price: <%=car.carprice%></h3>
                        <a href="tel:<%=car.contact%>">
                            <i class="ri-phone-fill"></i>
                            Grab Deal </a>
                    </div>
                <%})%>
          <%}%>
            
        </div>
    </div>
<script>
  document.querySelector('#frm').style.disply='none';
    var btn = document.querySelector('#btn');
    btn.addEventListener('click',function(){
        document.querySelector('#frm').click();
    })
    document.querySelector('#frm').addEventListener('change', function(){
        document.querySelector('#imageFrm').submit();
    })

</script>

</body>

</html>